<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884201425330-qv780k1pv9co7mn651tdlp6k38nnh7tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884201425330-qv780k1pv9co7mn651tdlp6k38nnh7tn</string>
	<key>API_KEY</key>
	<string>AIzaSyAKN4BrRqs0-TJD0TKmskvVsxMJn2sXc_k</string>
	<key>GCM_SENDER_ID</key>
	<string>884201425330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arsim.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>arsim-6afe3</string>
	<key>STORAGE_BUCKET</key>
	<string>arsim-6afe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884201425330:ios:e824a320038a4ad5407cab</string>
</dict>
</plist>